.main_chat
  .main_chat__group-info
    .group_name
      test
      .group_member
        Member :kosuke
    .group_edit
      =link_to "#", class: "group_edit__btn" do
        %span<>
        Edit
  .main_chat__message-list
    .message_talker
      %p kosuke
      .message_date
        %p 2019/12/22 15:00
    .message_text
      %p おはよう
  .main_chat__message-form
    %form.new_message
      .input_box
        %input{type: "text", class:"input_box_text", placeholder:"type a message"}
        %label{class: "input_box_image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input_box_image_file"}
      %input{type: "submit", class: "submit_btn"}